{% extends "housingapp/base_generic.html" %}
{% block content %}
    <style type="text/css">
        .center-div {
          text-align: center;
          padding-top: 2%;
          height: 70vh;
        }
        
        .left-manner-div {
          margin: 0 auto;
          width: 70%;
        }
        .table th{
            text-align: center;
            padding-left: 4%;
        }
        .table td{
            padding-left: 1%;
            padding-top: 1%;
            text-align: center;
        }
    </style>
    <div class="center-div">
        {% if are_my_houseadvertisements %}
            <h3>My Advertisements</h3>
        {% else %}
            <h3>Advertisements</h3>
        {% endif %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="left-manner-div">
            {% if houseadvertisements %}
                <table class="table">
                    <tr>
                        <th>Advertisement Id</th>
                        <th>Number of Bedrooms</th>
                        <th>Number of Bathrooms</th>
                        <th>Floor Number</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                {% for houseadvertisement in houseadvertisements %}
                    <tr>
                        <td>{{ houseadvertisement.id }}</td>
                        <td>{{ houseadvertisement.number_of_bedroom }}</td>
                        <td>{{ houseadvertisement.number_of_bathroom }}</td>
                        <td>{{ houseadvertisement.floor_number }}</td>
                        <td>{{ houseadvertisement.city }}</td>
                        <td>
                            {% if are_my_houseadvertisements %}
                                <a href="{% url 'housingapp:houseadvertisement_existing' houseadvertisement.id %}">Edit</a>
                                &nbsp;|&nbsp;
                                <a href="{% url 'housingapp:houseadvertisement_delete' houseadvertisement.id %}">Delete</a>
                            {% else %}
                                <a href="{% url 'housingapp:houseadvertisement_view' houseadvertisement.id %}">View</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>There are no advertisements.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}