{% extends "housingapp/base_generic.html" %}
{% block content %}
    <style type="text/css">
        .center-div {
          text-align: center;
          padding-top: 2%;
          height: 60vh;
        }
        
        .left-manner-div {
          margin: 0 auto;
          width: 70%;
        }
        .table th{
            text-align: center;
            padding-left: 4%;
        }
        .table td{
            padding-left: 1%;
            padding-top: 1%;
            text-align: center;
        }
    </style>
    <div class="center-div">
        {% if are_my_houseadvertisements %}
            <h3>My Advertisements</h3>
        {% else %}
            <h3>Advertisements</h3>
        {% endif %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action='' method='get'>
            <div class="left-manner-div">
                <table class="table">
                    <tr>
                        <th>Advertisement Id</th>
                        <th>Number of Bedrooms</th>
                        <th>Number of Bathrooms</th>
                        <th>Floor Number</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>
                            <select onChange="form.submit();" name="city_id">
                                <option value="0">---------</option>
                                {% for city in cities %}
                                    <option value="{{ city.id}}">{{ city.name }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                    {% if houseadvertisements %}
                    {% for houseadvertisement in houseadvertisements %}
                    <tr>
                        <td>{{ houseadvertisement.id }}</td>
                        <td>{{ houseadvertisement.number_of_bedroom }}</td>
                        <td>{{ houseadvertisement.number_of_bathroom }}</td>
                        <td>{{ houseadvertisement.floor_number }}</td>
                        <td>{{ houseadvertisement.city }}</td>
                        <td>
                            {% if are_my_houseadvertisements %}
                                <a href="{% url 'housingapp:houseadvertisement_existing' houseadvertisement.id %}">Edit</a>
                                &nbsp;|&nbsp;
                                <a href="{% url 'housingapp:houseadvertisement_delete' houseadvertisement.id %}">Delete</a>
                            {% else %}
                                <a href="{% url 'housingapp:houseadvertisement_view' houseadvertisement.id %}">View</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan='5'>
                            There are no advertisements.
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </form>
    </div>
{% endblock content %}