{% extends "housingapp/base_generic.html" %}
{% block content %}
    <style type="text/css">
        .center-div {
          text-align: center;
          padding-top: 2%;
        }
        
        .left-manner-div {
          margin: 0 auto;
          width: 50%;
          text-align: left;
        }
        .table th{
            text-align: left;
            padding-left: 4%;
        }
        .table td{
            padding-left: 1%;
            padding-top: 1%;
            text-align: left;
        }
    </style>
    <div class="center-div">
        <h1>
            {% if not view %}
                {% if id %}
                    Edit Advertisement
                {% else %}
                    Add Advertisement
                {% endif %}
            {% else %}
                Advertisement
            {% endif %}
        </h1>
        <div class="left-manner-div">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if form.errors %}
               {% for field in form %}
                   {% for error in field.errors %} 
                      <div class="alert alert-danger">
                           <strong>{{ field }} {{ error|escape }}</strong>
                      </div>
                   {% endfor %}
               {% endfor %}
            {% endif %}
            <form action='' method='post'>
                {% csrf_token %}
                {% if id %}
                    <input type="hidden" name="id" id="id" value="{{ id }}" />
                {% endif %} 
                <table class="table">
                    {% if not view %}
                        <tr>
                            <td>Number of Bedroom</td>
                            <td>{{ form.number_of_bedroom }}</td>
                        </tr>
                        <tr>
                            <td>Number of Bathroom</td>
                            <td>{{ form.number_of_bathroom }}</td>
                        </tr>
                        <tr>
                            <td>Floor Number</td>
                            <td>{{ form.floor_number }}</td>
                        </tr>
                        <tr>
                            <td>Nearest Landmark</td>
                            <td>{{ form.nearest_landmark }}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{ form.city }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Number of Bedroom</td>
                            <td>{{ form.number_of_bedroom.value }}</td>
                        </tr>
                        <tr>
                            <td>Number of Bathroom</td>
                            <td>{{ form.number_of_bathroom.value }}</td>
                        </tr>
                        <tr>
                            <td>Floor Number</td>
                            <td>{{ form.floor_number.value }}</td>
                        </tr>
                        <tr>
                            <td>Nearest Landmark</td>
                            <td>{{ form.nearest_landmark.value }}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td class="frooze">{{ form.city }}</td>
                        </tr>
                    {% endif %}
                    
                    {% if not view %}
                        <tr>
                            <td>Advertisement Visibility Status</td>
                            <td>{{ form.advertisement_visibility }}</td>
                        </tr>
                        <tr>
                            <td colspan='2' style='text-align: center;'>
                                {% if id %}
                                    <input type="submit" value="Update">
                                {% else %}
                                    <input type="submit" value="Save">
                                {% endif %}                  
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </form>
        </div>
    </div>
{% endblock content %}