{% extends "housingapp/base_generic.html" %}
{% block content %}
    <style type="text/css">
        .center-div {
          text-align: center;
          padding-top: 2%;
        }
        
        .left-manner-div {
          margin: 0 auto;
          width: 50%;
          text-align: left;
        }
        .table th{
            text-align: left;
            padding-left: 4%;
        }
        .table td{
            padding-left: 1%;
            padding-top: 1%;
            text-align: left;
        }
    </style>
    <div class="center-div">
        <h1>
            {% if not view %}
                {% if id %}
                    Edit Advertisement
                {% else %}
                    Add Advertisement
                {% endif %}
            {% else %}
                Advertisement
            {% endif %}
        </h1>
        <div class="left-manner-div">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action='' method='post'>
                {% csrf_token %}
                {% if id %}
                    <input type="hidden" name="id" id="id" value="{{ id }}" />
                {% endif %} 
                <table class="table">
                    {% if not view %}
                        <tr>
                            <td>Number of Bedroom</td>
                            <td>
                                {{ form.number_of_bedroom }}
                                <span style="color:red">
                                    {{ form.number_of_bedroom.errors }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Number of Bathroom</td>
                            <td>
                                {{ form.number_of_bathroom }}
                                <span style="color:red">
                                    {{ form.number_of_bathroom.errors }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Floor Number</td>
                            <td>
                                {{ form.floor_number }}
                                <span style="color:red">
                                    {{ form.floor_number.errors }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Nearby Utilities/Landmarks</td>
                            <td>
                                {{ form.nearby_utilities_landmarks }}
                                <span style="color:red">
                                    {{ form.nearby_utilities_landmarks.errors }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{ form.city }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>
                                {{ form.address }}
                                <span style="color:red">
                                    {{ form.address.errors }}
                                </span>
                            </td>
                        </tr>   
                        <tr>
                            <td>Contact Number</td>
                            <td>
                                {{ form.contact_no }}
                                <span style="color:red">
                                    {{ form.contact_no.errors }}
                                </span>
                            </td>
                        </tr>                           
                    {% else %}
                        <tr>
                            <td>Number of Bedroom</td>
                            <td>{{ form.number_of_bedroom.value }}</td>
                        </tr>
                        <tr>
                            <td>Number of Bathroom</td>
                            <td>{{ form.number_of_bathroom.value }}</td>
                        </tr>
                        <tr>
                            <td>Floor Number</td>
                            <td>{{ form.floor_number.value }}</td>
                        </tr>
                        <tr>
                            <td>Nearby Utilities/Landmarks</td>
                            <td>{{ form.nearby_utilities_landmarks.value }}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td class="frooze">{{ form.city }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{ form.address.value }}</td>
                        </tr>
                        <tr>
                            <td>Contact Number</td>
                            <td>{{ form.contact_no.value }}</td>
                        </tr>                        
                    {% endif %}
                    
                    {% if not view %}
                        <tr>
                            <td>Advertisement Visibility Status</td>
                            <td>{{ form.advertisement_visibility }}</td>
                        </tr>
                        <tr>
                            <td colspan='2' style='text-align: center;'>
                                {% if id %}
                                    <input type="submit" value="Update">
                                {% else %}
                                    <input type="submit" value="Save">
                                {% endif %}                  
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </form>
        </div>
    </div>
{% endblock content %}